button {
    background-color:skyblue;
    border-color:lightblue;
    font-weight: bold;
    color: #263238;
    font-family: cursive;
    border-radius: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
  }  
 
  #pallete{
    border: 5px solid #263238;
  }

  p {
    font-weight: bolder;
    font-size: xx-large;
    color: lightpink;
  }
